###########################
#
# DELIVERY SERVICE CONFIG
#
###########################
[Config]
###########################
[FB]
USER_ID   = 
EMAIL     = 
PASSWORD  = 
MESSAGE   = Hi, {name} facebook have released a new feature that allows people to see who is visiting you're page.
###########################


